@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GameOfSquids";
  src: url("/assets/fonts/Game Of Squids.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.squid-font {
  font-family: "GameOfSquids", sans-serif;
}

.trainit-text {
  position: relative;
  color: red; 
  display: inline-block;
}

.trainit-text::before {
  content: "TRAINIT";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white; 
  clip-path: polygon(
    0% 40%, 15% 35%, 30% 40%, 50% 60%, 
    70% 40%, 85% 45%, 100% 60%, 
    100% 100%, 0% 100%
  );
  overflow: hidden;
  
}

.tracks-bg {
  background-image: url("./assets/image03.png");
}

/* From Uiverse.io by vinodjangid07 */ 
.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  justify-content: end;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  float: right;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(181, 160, 255);
  align-items: center;
}

.button:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: white;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}
