@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GameOfSquids";
  src: url("/assets/fonts/Game Of Squids.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body, html {
  overflow-x: hidden;
}


.squid-font {
  font-family: "GameOfSquids", sans-serif;
}

.trainit-text {
  position: relative;
  color: #ED184B;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 12rem; 
}
@media (max-width: 380px) {
  .trainit-text {
    font-size: 4.3rem;
  }
}
.trainit-text::before {
  content: "TRAINIT";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  clip-path: polygon(
    0% 40%, 15% 35%, 30% 40%, 50% 60%, 
    70% 40%, 85% 45%, 100% 60%, 
    100% 100%, 0% 100%
  );
  animation: glitchWave 3s ease-in-out infinite;
}
@keyframes glitchWave {
  0%, 100% {
    clip-path: polygon(
      0% 50%, 15% 35%, 30% 40%, 50% 60%, 
      70% 40%, 85% 45%, 100% 60%, 
      100% 100%, 0% 100%
    );
  }
   50% {
    clip-path: polygon(
      0% 55%, 15% 50%, 30% 45%, 50% 50%, 
      70% 55%, 85% 50%, 100% 45%, 
      100% 100%, 0% 100%
    );
  }
}

.tracks-bg {
  background-image: url("./assets/squidgame3.png");
  /* filter: brightness(50%); */
}

/* From Uiverse.io by vinodjangid07 */ 
.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0px 4px #ed184aa7;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: fixed;
  bottom: 20px;
  right: 20px;
  overflow: hidden;
}

.svgIcon {
  width: 14px;
  transition: transform 0.3s ease-in-out;
}

.svgIcon path {
  fill: white;
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  background-color: #ED184B;
  justify-content: center;
}

.button:hover .svgIcon {
  transform: translateY(-150%);
}

.button::before {
  content: "Back to Top";
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  color: white;
  font-size: 0px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateX(-50%) translateY(-5px);
}
.button_Register {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: #ED184B;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
  
}

.icon_Register {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.button_Register:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.button_Register:hover .icon {
  transform: translate(4px);
}

.button_Register:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button_Register::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

